<div class="list" ng-controller='TaskDetailController'>
  <!-- {{errorMes}} -->
  <div class="row">
    <h1>Task Name: {{task.name}}</h1>
    <h3>Task Decription: {{task.description}}</h3>
    <h4>Status of Completion: {{task.completed}}</h4>
    <h4>Deadline: {{task.deadline}}</h4>
    <h4>Assigned Person: {{task.assignedUserName}}</h4>
    <h4>Date Created: {{task.dateCreated}}</h4>

    <br />
    <a href="#/edittask/{{task._id}}" class="button default">Edit Task</a>

    <br />
    <a href="#/tasklist" class="button default">Back to Task View</a>
  </div>

</div>