<div class="list" ng-controller='UserDetailController'>
  <!-- {{errorMes}} -->
  <div class="row">
    <h2>Name: {{user.name}}</h2>
    <h4>Email: {{user.email}}</h4>
  </div>

  <div class="row">
    <div class="small-4 columns">Name</div>
    <div class="small-4 columns">Description</div>
    <div class="small-4 columns">Complete the Task</div>
  </div>

  <div class="row" ng-repeat="task in tasks">
    <div class="small-4 columns"><a href="#/tasklist/{{task._id}}">{{task.name}}</a></div>
    <div class="small-4 columns">{{task.description}}</div>
    <div class="small-4 columns"><button class="button tiny" ng-click="completeTask($index, task)">Complete</button></div>
  </div>
  
  <hr>
  <div class="row"><button class="button default" ng-click="loadCompleted()">Completed Tasks</button></div>

  <div class="row" ng-repeat="task in completedTasks">
    <div class="small-4 columns"><a href="#/tasklist/{{task._id}}">{{task.name}}</a></div>
    <div class="small-4 columns">{{task.description}}</div>
    <div> </div>
  </div>

</div>