<div class="list" ng-controller='UsersController'>
  {{errorMes}}
  <div class="row">
  <center> 
    <h1> Users </h1>
    <a href="#/addUserView" class="button default">Add User</a>
  </center>
  </div>
  <div class="row">
    <div class="small-2 columns">
      Name
    </div>
    <div class="small-10 columns">
      ID
    </div>
  </div>
  <div class="row user-row" ng-repeat="user in users"> 
    <div class="small-2 columns">
    <a href="#/userlist/{{user._id}}"><div class="user-name">{{user.name}}</div></a>
    </div>
    <div class="small-5 columns">
      <a href="#/userlist/{{user._id}}" ng-bind="user._id"></a>
    </div>
    <div class="small-5 columns">
      <button ng-click="deleteUser($index, user._id)" class="button tiny alert">Delete User</button>
    </div>
  </div>
 </div>



