<div class="list" ng-controller='UsersController'>
  {{errorMes}}
  <div class="row">
    Users
    <br />
    <a href="#/addUserView" class="button default">Add User</a>
  </div>

  <div class="row">
    <div class="small-2 columns">
      Name
    </div>
    <div class="small-10 columns">
      ID
    </div>
  </div>
  <div class="row user-row" ng-repeat="user in users"> <!-- | limitTo:20"> -->
    <div class="small-2 columns">
      <!-- <a href="#/userlist/{{user._id}}" ng-bind="user.name"></a> -->
    <a href="#/userlist/{{user._id}}"><div class="user-name">{{user.name}}</div></a>
    </div>
    <div class="small-5 columns">
      <a href="#/userlist/{{user._id}}" ng-bind="user._id"></a>
    </div>
    <div class="small-5 columns">
      <button ng-click="deleteUser($index, user._id)" class="button tiny alert">Delete User</button>
    </div>
    <!-- <a href="#/userlist/{{user._id}}"><div class="user-name">{{user.name}}</div></a> -->
  </div>

  <!-- <div class="row">
    <button class="button default" ng-click="prevPage()">Prev</button>
    <button class="button default" ng-click="nextPage()">Next</button>
  </div> -->
 </div>



